html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $darkGray;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: $background;
}
*, *:before, *:after{
    box-sizing: inherit;
}
@for $i from 1 through 3 {
    h#{$i}{
        font-size: nth($fontSize, $i);
        margin: 0;
        color: $white;
        font-weight: $regular;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p, button{
    font-size: 1.4rem;
    line-height: 2.25rem;
    border: none;
    color: $darkGray;
}
a, li{
    text-decoration: none;
    font-size: 1.4rem;
}
label{
    font-size: 1.6rem;
    font-weight: $medium;
}
input{
    color: $lightGray;
    padding: 1.5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: $inputBackground;
    border: 2px solid transparent;
    @include transition(all);
    &:focus{
        @include box-shadow($primary);
        outline: none;
        border: 2.5px solid $primary;
    }
}
ul{
    list-style: none;
}