.login-signup-social-media-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  .social-media-button{
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    font-weight: $medium;
    background-color: $lightGray;
    gap: 1rem;
    .social-media-button-icon{
      font-size: 2.5rem;
      fill: #3982e4;
    }
  }
}