.form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  .input-form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    position: relative;
    .password-icon{
      position: absolute;
      bottom: 1.2rem;
      right: 1.2rem;
      font-size: 3rem;
    }
  }
  .form-button{
    @include primary-btn();
    @include transition(all);
  }
  .button-disabled{
    opacity: 0.5;
  }
}